@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

body {background: #383838;
    width: auto;
       height: auto;
}

.First{
     font-family: Raleway;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 14px;
     letter-spacing: 0.12em;
     color: #FFFFFF;
}

.Second{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

/*p {
   font-family: Raleway;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 14px;

   letter-spacing: 0.12em;

   color: #FFFFFF;
}*/

img {border-radius: 25px;
    text-align="left";
}

header {
  background: #252424;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  padding: 20px;
}

article {
  padding: 20px;
  width: 80%;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background: #252424;
  padding: 60px;
  text-align: center;
  color: white;
}